@import '~antd/dist/antd.css';

.logo {
    text-align: center;
}

.logo img {
    height: 64px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-header .header-title {
    font-size: 24px;
}